#name{
    background-color: green;
    color: white;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.old{
    background-color: blue;
    color: white;
    border-radius: 999px;
    padding: 2px 2px;
}

.table-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
}

td, th{
    text-align: center;
}

th{
    background-color: beige;
}

tr:nth-child(even){
    background-color: beige;
}

.lowest{
    background-color: rgba(255, 47, 47, 0.308);
}